## Main
# main
snippet main optional try1
	int main(int argc, const char *argv[])
	{
		${0}
		return 0;
	}

snippet main optional try2
	int main(int argc hai, const char *argv[])
	{
		${0}
		return 0;
	}
